---
import Page from "../layouts/Page.astro";

const title = "Styleguide";
---
<Page pageTitle={title}>
    <h1 class="headline h1">{title}</h1>
    <h1 class="headline h1">Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
    <h2 class="headline h2">Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
    <h3 class="headline h3">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti magnam consequuntur repellendus accusamus? Numquam totam deserunt fugit unde a sunt!</p>
</Page>

