---
const { title, url, foregroundColor, backgroundColor, isColorDemo } =
	Astro.props;
---

<div class="card is-color-demo">
	{isColorDemo ? <span>{title}</span> : <h2 class="headline h2">{title}</h2>}
	<slot />
</div>
<style
	lang="scss"
	define:vars={{ backgroundColor: backgroundColor, foregroundColor }}
>
	@use "../styles/utils";
	.card {
		border-radius: 20px;
		aspect-ratio: 1/1;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: utils.rem-calc(24);
		background-size: cover;
		position: relative;
		background-color: var(--backgroundColor);
		color: var(--foregroundColor);
		&:not(.is-color-demo) {
			&::before {
				content: "";
				inset: 0;
				position: absolute;
				z-index: 1;
				@include utils.milkglass();
			}
		}
		.headline {
			z-index: 2;
		}
		span {
			display: inline-block;
			margin-top: auto;
			margin-right: auto;
			padding-inline: utils.rem-calc(12);
			padding-block: utils.rem-calc(8);
			border-radius: utils.rem-calc(8);
			z-index: 2;
			background: utils.color("black-1");
			&::before {
				content: "";
				display: inline-block;
				height: utils.rem-calc(16);
				aspect-ratio: 1;
				margin-right: utils.rem-calc(12);
				background-color: var(--backgroundColor);
				border-radius: 50%;
			}
		}
	}
</style>
