---
---
<nav class="breakout">
    <ul>
        <li>
            <a href=""></a>Test
        </li>
        <li>
            <a href=""></a>Test
        </li>
        <li>
            <a href=""></a>Test
        </li>
        <li>
            <a href=""></a>Test
        </li>
    </ul>
</nav>
<style>
    nav {
        background-color: red;
        ul {
            display: flex;
            justify-content: space-between;
        }
    }
</style>