---
const { headline, className } = Astro.props;
---

<section class:list={["section", className]}>
	<h2 class="headline h2">
		{headline}
	</h2>
	<slot />
</section>
<style lang="scss">
	@use "../styles/utils";
	.section {
		padding: {
			block: clamp(utils.rem-calc(24), 3svh, utils.rem-calc(36));
		}
	}
</style>
